
body{margin: 100px;
     padding: 30px;}

section > div {display: inline-block;
      float:left;
               
               
               
             
                } 

#negra1{position: absolute;
      background-color:black;
      margin-left: -15px;
      height: 60px;
      width: 25px;
      }
      
      
#negra2{position: absolute;
    
      background-color:black;
      margin-left: -15px;
      height: 60px;
      width: 25px;
      }
      
#negra3{position: absolute;
   
      background-color:black;
      margin-left: -15px;
      height: 60px;
      width: 25px;
      
      }
      
#negra4{position: absolute;
   
      background-color:black;
      margin-left: -15px;
      height: 60px;
      width: 25px;
      }
      
#negra5{position: absolute;
    
      background-color:black;
      margin-left: -15px;
      height: 60px;
      width: 25px;
      }
      .semi{position: absolute;
    
        background-color:black;
        color: black;
      }

button{height: 80px;
      width: 30px;
     }